.bg-animated {
    background: linear-gradient(232deg, #001af2, #a300ff, #0081ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    -o-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
}

.schecule-animated {
    animation: ShowSchedule 2s ease;
}

@-webkit-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}
@keyframes AnimationName {
    0%{background-position:9% 0%}
    50%{background-position:92% 100%}
    100%{background-position:9% 0%}
}

@keyframes ShowSchedule{
    0%{opacity: 0%; position:relative; top: 100px;}
    50%{opacity: 50%; position:relative; top: 50px;}
    100%{opacity: 100%; position:relative; top: 0px;}
}