@import "./variables";

.cocus-header{
    height: 35%;
    min-height: 150px;
    padding: 1em;
    background: linear-gradient(232deg, #6e7cff, #c46cf7, #0081ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 2s ease infinite;
    -moz-animation: AnimationName 2s ease infinite;
    -o-animation: AnimationName 2s ease infinite;
    animation: AnimationName 2s ease infinite;
    box-shadow: inset 0px -7px 2px #00000010;
}

.cocus-header h3{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0px;
}

.cocus-header h4{
    position: relative;
    top: -3px;
    font-size: 1.5rem;
}

.cocus-toolbar{
    background: white;
    padding: 1em;
    position: relative;
    top: -20px;
    border-radius: 40px;
    box-shadow: 0px 2px 2px #00000005;
}

.btn-menu svg{
    color: #6e75fa4a;
    font-size: 2rem;
}

.btn-menu svg:hover{
    color: #c46cf7;
}

.tip{
    text-align: center;
    color: #0000001a;
    font-size: 2rem;
    font-weight: 800;
    max-width: 50%;
    margin: 5% auto;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step{
    background: $indigo !important;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step-line{
    background: #6610f220 !important;
}

.swal2-progress-steps .swal2-progress-step.swal2-active-progress-step~.swal2-progress-step{
    background: #6610f250 !important;
}

.swal2-styled.swal2-confirm{
    background:#6610f2 !important;
}

.swal2-progress-steps .swal2-progress-step{
    background: #6610f2 !important;
}

.swal2-progress-steps .swal2-progress-step-line{
    background: #6610f2 !important;
}

.swal2-file:focus, .swal2-input:focus, .swal2-textarea:focus{
    border:2px solid #6610f2 !important;
    box-shadow: 0 0 0 3px #6610f290 !important;
}

.btn-primary.disabled, .btn-primary:disabled{
    background:#6610f240;
    border: none;
}