@media only screen and (max-width: 600px) {
  .page-base {
    height: initial !important;
  }

  .schedules li .schedule_base{
    padding: 5px;
    border-radius:10px;
  }

  .schedule_text{
    margin-top: 10px;
  }

  .schedule_date{
    margin-top: 10px;
  }
}