// Brand Colors
$blue: #1433e1;
$indigo: #6610f2;
$purple: #8e42c1;
$pink: #e83e8c;
$red: #991d1d;
$orange: #fd7e14;
$yellow: #ffdc07;
$green: #81c306;
$teal: #20c997;
$cyan: #00bddb;
$white: #fff;
$black: rgb(29, 29, 29);

$theme-colors: (
  primary: $indigo,
  secondary: $purple
);